<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="">
        <input placeholder="Введите номер телефона" type="text" name="phone">
        <input placeholder="Введите электронную почту" type="email" name="email">
        <input placeholder="Введите свой адрес проживания" type="text" name="addres">
        <input placeholder="Введите количество " type="number" name="quantity">
        <button type="submit">Купить</button>
    </form>
</body>
</html>